[submodule "gateway"]
	path = gateway
	url = git@github.com:Udemy-MS-Raudel/gateway.git
[submodule "order-ms"]
	path = order-ms
	url = git@github.com:Udemy-MS-Raudel/order-ms.git
[submodule "product-ms"]
	path = product-ms
	url = git@github.com:Udemy-MS-Raudel/product-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = git@github.com:Udemy-MS-Raudel/auth-ms.git
